.gift {
    background-image: url('../../../images/gift-overlay.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 80vh;
}